*
{
    color: #ffc;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 900px; */
}

#calculator
{
    /* background-color: #F3F3F3; */
    background-color: #4C3A51;
    border: 1px solid black;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    padding: 10px;
    display: grid;
    gap: 5px;
}

#display
{
    display: flex;
    /* background-color: white; */
    background-color: #774360;
    border: solid 3px black;
    border-radius: 3px;
    grid-column: span 4;
}

#maindisplay
{
    font-size: 40px;
    margin: auto 0;
    margin-left: auto;
    margin-right: 10px;
    
}

#subdisplay
{
    display: none;
    height: 20px;
}

button
{
    background-color: #774360;
    border: 1px solid black;
    border-radius: 5px;

    font-size: 28px;
    font-weight: bold;
}

button:disabled {
    background-color: #4C3A51;
    color: darkgray;
}

button:hover:not(:disabled) {
    background-color: #B25068;
}

/* button:disabled:hover {
    background-color: inherit;
} */

.clearbutton
{
    color: red;
}

.operator
{
    color: green;
}
