*
{
    background-color: #202228;

    color: #000;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 900px; */
}

#calculator
{
    /* background-color: #F3F3F3; */
    border: 1px solid black;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    padding: 10px;
    display: grid;
    gap: 5px;
}

#display
{
    
    display: flex;
    /* background-color: white; */
    /* background-color: #000; */
    /* border: solid 3px black; */
    border-radius: 3px;
    grid-column: span 4;
}

#maindisplay
{
    color: #fff;
    font-size: 40px;
    margin: auto 0;
    margin-left: auto;
    margin-right: 10px;
    
}

#subdisplay
{
    display: none;
    height: 20px;
}

button
{
    background-color: #fff;
    border: 0px solid black;
    border-radius: 5px;

    font-size: 28px;
    font-weight: bold;
}

button:disabled {
    background-color: unset;
    color: darkgray;
}

button:hover:not(:disabled) {
    background-color: #373A44;
    color: #fff;
}

/* button:disabled:hover {
    background-color: inherit;
} */

.clearbutton
{
    color: #A13333;
}

.operator
{
    background-color: orangered;
    /* color: #2da76e; */
}

.memorybutton, .clearbutton {
    background-color: mediumaquamarine;
}