*
{
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

#calculator
{
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    padding: 10px;
    display: grid;
    gap: 5px;
}

#display
{
    display: flex;
    background-color: white;
    border: solid 3px black;
    border-radius: 3px;
    grid-column: span 4;
}

#maindisplay
{
    font-size: 40px;
    margin: auto 0;
    margin-left: auto;
    margin-right: 10px;
    
}

#subdisplay
{
    display: none;
    height: 20px;
}

button
{
    font-size: 28px;
    font-weight: bold;
}

.clearbutton
{
    color: darkred;
}

.operator
{
    color: darkgreen;
}
